{{ with .Params.start_date }}
  {{ $start := time.Parse "2006-01-02" . }}
  {{ with $.Params.end_date }}
    {{ $end := time.Parse "2006-01-02" . }}
    {{ if ne ($start.Format "2006") ($end.Format "2006") }}
      {{ dateFormat "January 2, 2006" $start }} - {{ dateFormat "January 2, 2006" $end }}
    {{ else if ne ($start.Format "1") ($end.Format "1") }}
      {{ dateFormat "January 2" $start }} - {{ dateFormat "January 2, 2006" $end }}
    {{ else }}
      {{ dateFormat "January 2" $start }}-{{ dateFormat "2, 2006" $end }}
    {{ end }}
  {{ end }}
{{ end }}
