{{ $scratch := newScratch }}

<div>
    {{ with .Params.startDate }}
        {{ $startDate := time . }}
        {{ $startDate.Format "January 2006" }}
    {{ end }}
    {{ if and .Params.startDate .Params.endDate }}
        &nbsp;&middot;&nbsp;  <!-- Adding separator if both dates exist -->
    {{ end }}
    {{ with .Params.endDate }}
        {{ $endDate := time . }}
        {{ $endDate.Format "January 2006" }}
    {{ end }}
    {{ if .Params.category }}
        {{ if or .Params.startDate .Params.endDate }}&nbsp;&middot;&nbsp;{{ end }}  <!-- Separator logic -->
        {{ .Params.category }}
    {{ end }}
</div>

{{ if .Param "ShowReadingTime" }}
  {{ $scratch.Add "meta" (slice (printf "%d min read" .ReadingTime)) }}
{{ end }}

{{ if .Param "ShowWordCount" }}
  {{ $scratch.Add "meta" (slice (printf "%d words" .WordCount)) }}
{{ end }}

{{ with $scratch.Get "meta" }}
  <div>{{ delimit . "&nbsp;&middot;&nbsp;" }}</div>
{{ end }}
